  
<main>
    <img id="sadFaceImg"
        src="https://cdn2.vectorstock.com/i/1000x1000/87/16/404-error-with-character-error-design-template-vector-20568716.jpg"
        alt="sad face" />
    {{!-- <h1>404</h1>
    <h2>Page not found</h2> --}}
</main>